/* Учебные стили */
/* классы */
.red{color: red;}
.green{color: green;}
.blue{color: blue;}
.black{color:black;}
.orange{color: orange;}
.yellow{color: yellow;}
b.purple{color: purple;}
.fblock{background: #f9c102; border: 1px solid #dbaa10;}

.border{width: 300px;border: 10px solid blue; background: #12BAD8}
.border2{width: 300px; background: #efefef; 
	border-top: 10px double #0c7888;
	border-bottom: 5px solid #f23100;
	border-left: 15px solid #0a2765;
	border-right: 7px double #0c6310;
}
.block{background: #dedede; border: 1px solid #dbaa10; width: 500px;}
.block2{background: #9FB009; border: 1px solid #dbaa10;width: 50%;}
.block3{width: 300px; background: #9FB009; border: 1px solid #000; padding: 20px;}
.block4{background: #efefef; border: 1px solid #ccc; width: 200px; margin: 30px; float: left;}
.block5{background: #f9c102; border: 1px solid #ccc; width: 200px; margin: 30px; float: left;}
.clear{clear: both;}


.important{}

/* Идентификатор */
#red{color: red;}
#green{color: green;}
#blue{color: blue;}
#black{color:black;}
#orange{color: orange;}
#yellow{color: yellow;}

/* Селекторы атрибутов */

[width]{border-color: red;}
[width="700"]{border-color: green;}
[title="fazan"]{color: purple;}
[title="И чего он такого желает???"]{color: yellow;}
i[title]{color:yellow;}
p.primer i[title]{color: yellow;}

/* Контекстные селекторы */
p.primer b i {color: purple;}
p.primer b i u{color: red;}

/* Дочерние селекторы */
p.primer i u{color: green;}
/* Соседние селекторы */
p.primer b+i{color: blue;}
p.primer i+u{color: yellow;}
p.primer i+u+s{color: red;}

.dz1 b{color: yellow;}
.dz1 b+s{color: purple;}
.dz1 i{color: green;}
.dz1 i+u{color: red;}
.dz1 u{color: blue;}
.dz1 u s{color: grey;}
.dz1 s b{color: gray;}

.dz2 i{color: red;}
.dz2 i+i{color: orange;}
.dz2 i+i+i{color: yellow;}
.dz2 i+i+i+i{color: green;}
.dz2 i+i+i+i+i{color: aqua;}
.dz2 i+i+i+i+i+i{color: blue;}
.dz2 i+i+i+i+i+i+i{color: purple;}

/* Псевдокласс */
i:first-child{color: purple;}


form{
	font-family: 'Cuprum', sans-serif;

}
form.forms{
	background: #f5f5f5 url('../img/bg.png');
	padding: 20px;
	width: 400px;
	margin: 0 auto;
	font-size: 15px;
	font-weight: bold;
	border: 1px solid #bbb;
}
form.forms label{
	margin: 0 0 10px 0;
	display: block;
}
form.forms span{
	display: inline-block;
	width: 175px;
	cursor: pointer;
	color: #555;
	/* font-size: 15px; */
	/* font-style: italic; */
}
form.forms input{
	width: 150px;
	padding: 6px 0 6px 10px;
	line-height: 18px;
	font-family: 'Cuprum', sans-serif;
	height: 30px;
	border: 1px solid #ccc;
	outline: none;
}
form.forms input:focus{
	border: #75eb66 1px solid;
	color: #1b6d9c;
}
form.forms input[type="reset"]{
	width: 150px;
	padding: 6px 0 6px 10px;
	line-height: 18px;
	font-family: 'Cuprum', sans-serif;
	height: 30px;
	border: 1px solid #ccc;
	outline: none;
}
form.forms textarea{
	width: 97%;
	height: 75px;
	font-family: 'Cuprum', sans-serif;
	padding-left:5px;
}


