/* Учебные стили */
/* классы */

.red {
    color: red;
}

.green {
    color: green;
}

.blue {
    color: blue;
}

.black {
    color: black;
}

.orange {
    color: orange;
}

.yellow {
    color: yellow;
}

b.purple {
    color: purple;
}

.fblock {
    background: #f9c102;
    border: 1px solid #dbaa10;
}

.border {
    width: 300px;
    border: 10px solid blue;
    background: #12BAD8
}

.border2 {
    width: 300px;
    background: #efefef;
    border-top: 10px double #0c7888;
    border-bottom: 5px solid #f23100;
    border-left: 15px solid #0a2765;
    border-right: 7px double #0c6310;
}

.block {
    background: #dedede;
    border: 1px solid #dbaa10;
    width: 500px;
}

.block2 {
    background: #9FB009;
    border: 1px solid #dbaa10;
    width: 50%;
}

.block3 {
    width: 300px;
    background: #9FB009;
    border: 1px solid #000;
    padding: 20px;
}

.block4 {
    background: #efefef;
    border: 1px solid #ccc;
    width: 200px;
    margin: 30px;
    float: left;
}

.block5 {
    background: #f9c102;
    border: 1px solid #ccc;
    width: 200px;
    margin: 30px;
    float: left;
}

.clear {
    clear: both;
}

.important {
}

/* Идентификатор */
#red {
    color: red;
}

#green {
    color: green;
}

#blue {
    color: blue;
}

#black {
    color: black;
}

#orange {
    color: orange;
}

#yellow {
    color: yellow;
}

/* Селекторы атрибутов */

[width] {
    border-color: red;
}

[width="700"] {
    border-color: green;
}

[title="fazan"] {
    color: purple;
}

[title="И чего он такого желает???"] {
    color: yellow;
}

i[title] {
    color: yellow;
}

p.primer i[title] {
    color: yellow;
}

/* Контекстные селекторы */
p.primer b i {
    color: purple;
}

p.primer b i u {
    color: red;
}

/* Дочерние селекторы */
p.primer i u {
    color: green;
}

/* Соседние селекторы */
p.primer b + i {
    color: blue;
}

p.primer i + u {
    color: yellow;
}

p.primer i + u + s {
    color: red;
}

.dz1 b {
    color: yellow;
}

.dz1 b + s {
    color: purple;
}

.dz1 i {
    color: green;
}

.dz1 i + u {
    color: red;
}

.dz1 u {
    color: blue;
}

.dz1 u s {
    color: grey;
}

.dz1 s b {
    color: gray;
}

.dz2 i {
    color: red;
}

.dz2 i + i {
    color: orange;
}

.dz2 i + i + i {
    color: yellow;
}

.dz2 i + i + i + i {
    color: green;
}

.dz2 i + i + i + i + i {
    color: aqua;
}

.dz2 i + i + i + i + i + i {
    color: blue;
}

.dz2 i + i + i + i + i + i + i {
    color: purple;
}

/* Псевдокласс */
i:first-child {
    color: purple;
}

form {
    font-family: 'Cuprum', sans-serif;

}

form.forms {
    background: #f5f5f5 url('../img/bg.png');
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #bbb;
}

form.forms label {
    margin: 0 0 10px 0;
    display: block;
}

form.forms span {
    display: inline-block;
    width: 175px;
    cursor: pointer;
    color: #555;
    /* font-size: 15px; */
    /* font-style: italic; */
}

form.forms input {
    width: 150px;
    padding: 6px 0 6px 10px;
    line-height: 18px;
    font-family: 'Cuprum', sans-serif;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
}

form.forms input:focus {
    border: #75eb66 1px solid;
    color: #1b6d9c;
}

form.forms input[type="reset"] {
    width: 150px;
    padding: 6px 0 6px 10px;
    line-height: 18px;
    font-family: 'Cuprum', sans-serif;
    height: 30px;
    border: 1px solid #ccc;
    outline: none;
}

form.forms textarea {
    width: 97%;
    height: 75px;
    font-family: 'Cuprum', sans-serif;
    padding-left: 5px;
}

#progressbar {
    background: #9eda03;
    color: #11969d;
    border: none;
    width: 250px;
    height: 8px;
}

#progressbar::-webkit-progress-bar {
    background: #9eda03;
}

#progressbar::-webkit-progress-value {
    background: #11969d;
}

#progressbar::-moz-progress-bar {
    background: #11969d;
}

summary {
    cursor: pointer;
}

p.testpe:after {
    content: "И точка";
    color: red;
}
p.testpe::first-letter{
    font-size:24px;
    font-family:'Cuprum', sans-serif;
    color: #f92a39;
}
p.testpe::first-line{
    color: #070763;
}
p.testpe::selection{
    background: #444;
    color: #aaa;
}
p.testpe::-moz-selection{
    background: #444;
    color: #aaa;
}
p.pe{
    background: #efefef;
    padding: 20px 50px;
    border:1px solid #ddd;
    margin: 20px 0;
    position: relative;
    quotes: "\201c" "\201d";
}
p.pe::before, p.pe::after{
    background: #c9cdc9;
    width: 20px;
    height: 20px;
    display: block;
    text-align: center;
    font-size: 24px;
    line-height: 35px;
    font-weight:bold;
    color: #ddd;
    position: absolute;

}
p.pe::before{
    content: open-quote;
    left: 20px;
    top: 20px;
}
p.pe::after{
    content: close-quote;
    right: 20px;
    bottom: 20px;
}
p.note{
    background: #efefef;
    border: 1px solid #555555;
    box-shadow: 1px 2px 1px #555555;
    font-weight: bold;
    padding: 20px 60px;
    margin: 20px 0;
    position: relative;
}
p.note::before{
    content: url("/img/process.png");
    display: block;
    position: absolute;
    left: 15px;
    top:10px;
}
p.note::after{
    content: url("/img/warning.png");
    display: block;
    position: absolute;
    right: 15px;
    bottom:10px;
}
p.relax{
    background: #a6f431;
    padding: 20px 80px;
    border: #96EEA7 1px solid;
    margin: 20px 0;
    position: relative;
}
p.relax::before{
    content: url("/img/umbrella.png");
    display: block;
    position: absolute;
    left: 15px;
    top:10px;
}
p.relax::after{
    content: url("/img/beach_chair.png"');
    display: block;
    position: absolute;
    right: 15px;
    bottom:10px;
}